html {
    background-color: black;
}

body {
    text-align: center;
}

.header {
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

.link {
    color: aquamarine;
    text-decoration: underline;
    font-size: 16px;
}

#video-block {
    align-items: center;
}

.header--secondary {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.header--sub-heading {
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}